<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Great Seasons Ventures</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  </head>

  <body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span>
        <%= link_to root_path, class: 'site-heading-upper text-primary mb-3' do %>

    Great Seasons Ventures

        <% end %>

      </span>
      <span class="site-heading-lower">A herbalife Partner</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <%= link_to root_path, class: 'navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none' do %>

    Great Seasons Ventures

        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <%= link_to root_path, class: 'nav-link text-uppercase text-expanded' do %>

          Home

              <% end %>
            </li>

            <li class="nav-item px-lg-4">
              <%= link_to about_path, class: 'nav-link text-uppercase text-expanded' do %>

            About

              <% end %>
            </li>
            <li class="nav-item px-lg-4">
              <%= link_to products_path, class: 'nav-link text-uppercase text-expanded' do %>

            Products

              <% end %>
            </li>
            <li class="nav-item px-lg-4">
              <%= link_to store_path, class: 'nav-link text-uppercase text-expanded' do %>

            Store

              <% end %>
            </li>
            <li class="nav-item px-lg-4">
              <%= link_to contact_path, class: 'nav-link text-uppercase text-expanded' do %>

            Contact

              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>


  </body>
</html>
